In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = Series([3,6,9,12,15])

In [5]:
obj

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12, 15], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
ww2Casualties = Series([8700000,4300000,3000000,2100000,400000],index=['USSR',
                                                                      'Germany','China','Japan','USA'])

In [9]:
ww2Casualties

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [11]:
ww2Casualties['USSR']

8700000

In [12]:
ww2Casualties.values

array([8700000, 4300000, 3000000, 2100000,  400000], dtype=int64)

In [13]:
# Check if the country is present in the series

In [15]:
'USSR' in ww2Casualties

True

In [17]:
'Europe' in ww2Casualties

False

In [18]:
ww2Dict = ww2Casualties.to_dict()

In [19]:
ww2Dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [20]:
ww2ConSeries = Series (ww2Dict)

In [21]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [22]:
obj = Series(ww2Dict, index= countries)

In [23]:
obj

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [24]:
pd.isnull(obj)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [25]:
pd.notnull(obj)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [26]:
obj

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [27]:
ww2ConSeries

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [28]:
obj+ww2ConSeries

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [29]:
# We can add a name to the index

In [30]:
obj.index.name = 'Countries'

In [31]:
obj

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [32]:
obj.dtype

dtype('float64')

In [33]:
obj.name = 'This is World War 2 Countries Casualties'

In [34]:
obj

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: This is World War 2 Countries Casualties, dtype: float64

NameError: name 'ob' is not defined