In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [3]:
nfl_Frame = pd.read_clipboard()
nfl_Frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,NFC West
16,17,Cleveland Browns,462,466,10,0.498,1950,938,AFC North
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,AFC West
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",NFC West
19,20,Carolina Panthers,172,179,1,0.490,1995,352,NFC South
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",NFC East
21,22,Tennessee Titans,413,449,6,0.479,1960,868,AFC South
22,23,Buffalo Bills,400,460,8,0.465,1960,868,AFC East
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",NFC North
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,AFC North
25,26,New York Jets,392,468,8,0.456,1960,868,AFC East
26,27,New Orleans Saints,338,427,5,0.442,1967,770,NFC South
27,28,Houston Texans,106,134,0,0.442,2002,240,AFC South
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,AFC South
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NFC South
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NFC West
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,644,NFC South

In [8]:
nfl_Frame.head(10)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West

In [10]:
nfl_Frame.tail(10)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
22,23,Buffalo Bills,400,460,8,0.465,1960,868,AFC East
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",NFC North
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,AFC North
25,26,New York Jets,392,468,8,0.456,1960,868,AFC East
26,27,New Orleans Saints,338,427,5,0.442,1967,770,NFC South
27,28,Houston Texans,106,134,0,0.442,2002,240,AFC South
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,AFC South
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NFC South
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NFC West
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,644,NFC South

In [6]:
nfl_Frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [11]:
nfl_Frame.Team

0           Dallas Cowboys
1        Green Bay Packers
2            Chicago Bears
3           Miami Dolphins
4     New England Patriots
5          New York Giants
6           Denver Broncos
7        Minnesota Vikings
8         Baltimore Ravens
9      San Francisco 49ers
10      Indianapolis Colts
11         Oakland Raiders
12     Pittsburgh Steelers
13      Kansas City Chiefs
14     Washington Redskins
15        Seattle Seahawks
16        Cleveland Browns
17    Los Angeles Chargers
18        Los Angeles Rams
19       Carolina Panthers
20     Philadelphia Eagles
21        Tennessee Titans
22           Buffalo Bills
23           Detroit Lions
24      Cincinnati Bengals
25           New York Jets
26      New Orleans Saints
27          Houston Texans
28    Jacksonville Jaguars
29         Atlanta Falcons
30       Arizona Cardinals
31    Tampa Bay Buccaneers
Name: Team, dtype: object

In [15]:
nfl_Frame['First NFL Season']

0     1960
1     1921
2     1920
3     1966
4     1960
5     1925
6     1960
7     1961
8     1996
9     1950
10    1953
11    1960
12    1933
13    1960
14    1932
15    1976
16    1950
17    1960
18    1937
19    1995
20    1933
21    1960
22    1960
23    1930
24    1968
25    1960
26    1967
27    2002
28    1995
29    1966
30    1920
31    1976
Name: First NFL Season, dtype: int64

In [19]:
subset = DataFrame(nfl_Frame, columns=['First NFL Season','Team'])

In [22]:
subset.head()

   First NFL Season                  Team
0              1960        Dallas Cowboys
1              1921     Green Bay Packers
2              1920         Chicago Bears
3              1966        Miami Dolphins
4              1960  New England Patriots

In [21]:
nfl_Frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,NFC West
16,17,Cleveland Browns,462,466,10,0.498,1950,938,AFC North
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,AFC West
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",NFC West
19,20,Carolina Panthers,172,179,1,0.490,1995,352,NFC South
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",NFC East
21,22,Tennessee Titans,413,449,6,0.479,1960,868,AFC South
22,23,Buffalo Bills,400,460,8,0.465,1960,868,AFC East
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",NFC North
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,AFC North
25,26,New York Jets,392,468,8,0.456,1960,868,AFC East
26,27,New Orleans Saints,338,427,5,0.442,1967,770,NFC South
27,28,Houston Texans,106,134,0,0.442,2002,240,AFC South
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,AFC South
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NFC South
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NFC West
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,644,NFC South

In [23]:
nfl_Frame.iloc[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [26]:
nfl_Frame['Stadium'] = np.arange(32)

In [27]:
nfl_Frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,5
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,6
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,7
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,8
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,9
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South,10
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West,11
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North,12
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West,13
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East,14
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,NFC West,15
16,17,Cleveland Browns,462,466,10,0.498,1950,938,AFC North,16
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,AFC West,17
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",NFC West,18
19,20,Carolina Panthers,172,179,1,0.490,1995,352,NFC South,19
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",NFC East,20
21,22,Tennessee Titans,413,449,6,0.479,1960,868,AFC South,21
22,23,Buffalo Bills,400,460,8,0.465,1960,868,AFC East,22
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",NFC North,23
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,AFC North,24
25,26,New York Jets,392,468,8,0.456,1960,868,AFC East,25
26,27,New Orleans Saints,338,427,5,0.442,1967,770,NFC South,26
27,28,Houston Texans,106,134,0,0.442,2002,240,AFC South,27
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,AFC South,28
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NFC South,29
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NFC West,30
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,644,NFC South,31

In [29]:
del nfl_Frame['Stadium']

In [30]:
nfl_Frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [ ]:
# Add a series to dataframe

In [31]:
stadiums = Series(["Levi's Stadium",'AT&T Stadium'], index=[4,0])

In [32]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [33]:
nfl_Frame['Stadium']=stadiums

In [34]:
nfl_Frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [35]:
# Create Dataframes from dictionaries

In [36]:
dataDict = {'City':['SF','LA','NYC'],'Population':[873000,388000,8400000]}

In [37]:
cityFrame = DataFrame(dataDict)

In [38]:
cityFrame

  City  Population
0   SF      873000
1   LA      388000
2  NYC     8400000